<footer class="footer">
    <div class="footer__container">
        <a class="normal--text footer__donate" href="https://buymeacoffee.com/vxdosick">
            <img class="small--img" src="/img/coffe.png" alt="buymeacoffee">
            Support the project
        </a>
        <a class="blocktitle--text footer__logo" href="/"><img src="/img/logo2.png" class="header__logoimg small--img" alt=""></a>
        <a class="normal--text footer__privacy" href="/">Privacy Policy</a>
    </div>
</footer>
</div>
<script src="/js/script.js"></script>
</body>
</html>