<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/img/logo2.png">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <a class="header__logo logo--text" href="/">
            <img class="small--img header__logoimg" src="/img/logo2.png" alt="logo" />
            ResumeScanAi</a
          >
          <nav class="header__menu">
            <ul class="normal--text">
              <li><a href="#scan">Scan</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#review">Review</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
  </body>
</html>
