<%- include('partials/header', {title: "Privacy Policy"}) %>
<main>
  <section class="error">
    <div class="error__container">
        <h1 class="subtitle--text">Privacy Policy</h1>
    <p class="normal--text">
Last update: 07.01.2025

We, the ResumeScanAi project team, respect your privacy and are committed to being transparent about how we process your data. Our privacy policy is summarized below.

1. What data do we collect?
We do not collect or store your personal data.

2. Processing of CV files
The CV files you upload are only processed to provide a response to your inquiry. These files are not stored on our servers and are automatically deleted once processing is complete.

3. use of third-party services
We use third-party services, such as Buy Me a Coffee, to support our project. Please see their privacy policy for more information on how they process data.

4. Cookies
We do not use cookies to track users.

5. Contacts
If you have any questions about our privacy policy, please contact us at resume.scan.ai@gmail.com .
    </p>
    <a href="/" class="error__home button--general">Home</a>
    </div>
  </section>
</main>
<%- include('partials/footer') %>
